<a href="https://colab.research.google.com/github/PatChizzy/Workshop/blob/master/Part_1_eto_etc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Scenario Analytics Tools for Irrigation Management using Python**

<img src="https://asabe.org/portals/0/AboutUs/Strategic%20Initiatives/AMAA/Fez-Banner-Border.png?ver=Erf3rRHtXhjtOMN8M3WicA=" width="800">

# **Setup**  <a name="prerequisite"></a>
- A functional laptop
- A [Google account](https://accounts.google.com/) (to use [Google Colab](https://colab.research.google.com/))
- A Chrome web browser
- Internet connectivity (min requirement 250kbs)

# **Tutorial Outline**  
**Authors:** Mba Patience Chizoba, Taisha Venort, Daniel Uyeh


## [**Python Introduction**](#part1)
>Variables, simple arithmetic, data structures
>>Numerical Computing   
>>NumPy arrays, For Loops
>>Functions, Pandas

---
# **What to expect from the upcoming workshop**  

## [**Part A – Data Handling**](#part2)

>Data Handling & Visualization  
>> Load dataset with Pandas, quick summary (`head`, `describe`)  
>> Simple plot with Matplotlib/Seaborn  

## [**Part B – Hydrology & Irrigation Modeling**](#part3)  

>Evapotranspiration & Irrigation
>> Intro to ETo and ETc  
>> Compute ETo (using provided dataset)  
>> Convert to ETc with crop coefficients  
>> Estimate irrigation requirement

>[Scenario Lab](#part5)
>> Visualize how irrigation needs change  
>> Compare station data with ERA5 data

>> Brief Machine Learning Application

## [**Data Sources and Comparison**](#materials)
## [**Discussion**](#conclusion)

# **Setup**  <a name="prerequisite"></a>
- A functional laptop
- A [Google account](https://accounts.google.com/) (to use [Google Colab](https://colab.research.google.com/))
- A Chrome web browser
- Internet connectivity (min requirement 250kbs)

# **Python Introduction** <a name="part1"></a>


- **Case sensitive**: `Rainfall` and `rainfall` are treated as different variables.  
- **Indentation matters**: Python uses spaces, not `{}` brackets. Wrong indentation = error.  
- **No semicolons**: Unlike C/Java, you don’t end lines with `;` (though you *can*).  
- **Comments**:  
  - Single-line comments use `#`  
    ```python
    # This is a single-line comment
    ```  
  - Multiline comments/docstrings use triple quotes `""" ... """` or `''' ... '''`  
    ```python
    """
    This is a multiline comment.
    It can span across multiple lines.
    Useful for documentation.
    """
    ```  
- **Naming variables**:  
  - Can’t start with a number → `2temp = 30` ❌  
  - Use letters, numbers, and `_` only → `temp_2024 = 30` ✅  
  - Avoid reserved words like `for`, `if`, `class`, `else`.  
- **Dynamic typing**: You don’t declare the type; Python figures it out.  
  ```python
    x = 10          # integer  
    x = "ten"       # string with double quotes  
    x = 'ten'       # string with single quotes  

    # ❌ You cannot mix them directly:
    # x = "ten'     # error

    # ✅ But you can nest them safely:
    y = "It's raining"        # double quotes outside, single inside  
    z = 'He said "Hello!"'    # single quotes outside, double inside  

    # ✅ Or escape them with backslash:
    a = "He said \"Hello!\""  
    b = 'It\'s raining'

## **Variables**

In [1]:
print("Hello World!")

Hello World!

In [2]:
# Variables and Printing in Python

# Integer
year = 2025

# Float
rainfall_mm = 45.7

# String
region = "Africa"

# Boolean
is_raining = True

# Different ways to print
print("The year is", year)   # comma-separated (adds space)
print("Rainfall:", rainfall_mm, "mm")
print(f"Region: {region}")   # f-string (formatted string literal)
print("Is it raining? {}".format(is_raining))  # using .format()

The year is 2025
Rainfall: 45.7 mm
Region: Africa
Is it raining? True

In [3]:
# Insert an explicit newline in the middle of a string
print("Temperature: 30.2 °C\n'Humidity: 68 %")

# Try double line

Temperature: 30.2 °C
'Humidity: 68 %

In [4]:
# Basic Arithmetic Operations in Python
a = 15
b = 4
c = a + b

# Addition
print("a + b =", a + b)

# Subtraction (-)

# Multiplication (*)

# Division (/) returns float

# Floor division (//) returns whole number)

# Modulus (%) remainder

# Exponentiation (**) power)

a + b = 19

## Built-in Data Structures

In [5]:
# 1. List (ordered, changeable)
fruits = ["apple", "banana", "mango"]
print(fruits[0])        # access first item
fruits.append("orange") # add new item
print(fruits)

apple
['apple', 'banana', 'mango', 'orange']

In [6]:
# 2. Tuple (ordered, unchangeable)
coordinates = (10, 20, 30)
print(coordinates[1])   # access second item
# coordinates[0] = 15   # ❌ would cause an error

20

In [7]:
# 3. Dictionary (key-value pairs)
student = {"name": "Marty", "age": 21, "major": "Computer Science"}
print(student["name"])       # access value by key
student["age"] = 22          # update value
print(student)

Marty
{'name': 'Marty', 'age': 22, 'major': 'Computer Science'}

In [8]:
# 4. Set (unordered, no duplicates)
colors = {"red", "green", "blue"}
colors.add("yellow")
colors.add("red")  # ignored, since it already exist (to avoid duplicate)
print(colors)

{'blue', 'green', 'red', 'yellow'}

## **Numerical Computing**

In [9]:
import numpy as np

# Create an array
arr = np.array([1, 2, 3, 4, 5])

print("Array:", arr)
print("Mean:", arr.mean())
print("Sum:", arr.sum())

Array: [1 2 3 4 5]
Mean: 3.0
Sum: 15

In [10]:
# Array Slicing and Indexing
print("First element:", arr[0])
print("First three elements:", arr[:3])
print("Last two elements:", arr[-2:])

First element: 1
First three elements: [1 2 3]
Last two elements: [4 5]

In [11]:
# Create a 2x2 matrix
M = np.array([[1, 2],
              [3, 4]])

# Matrix operations
print("Matrix M:\n", M)

Matrix M:
 [[1 2]
 [3 4]]

In [12]:
print("Transpose:\n", M.T)

Transpose:
 [[1 3]
 [2 4]]

In [13]:
# Generate random numbers
rand_nums = np.random.rand(5)        # 5 random values between 0 and 1
normal_nums = np.random.normal(0, 1, 5)  # mean=0, std=1

print("Uniform random:", rand_nums)
print("Normal random:", normal_nums)

Uniform random: [0.15315946 0.50966066 0.00308999 0.4487763  0.78562865]
Normal random: [ 0.09309233 -0.87157816  0.42427551 -0.36223552 -0.66478229]

## **For Loops**

Lets you repeat an action for each element in a list, array, or range of numbers.  

Let’s build on the array we created earlier:

```python
arr = np.array([1, 2, 3, 4, 5])

In [14]:
# Loop through the array
for value in arr:
    print("Value:", value)

Value: 1
Value: 2
Value: 3
Value: 4
Value: 5

In [15]:
# Square each number in the array using a loop
squares = []
for value in arr:
    squares.append(int(value ** 2))   # cast to int (convert a value from one data type into another)

print("Squares:", squares)

Squares: [1, 4, 9, 16, 25]

In [16]:
# Example: Loop through rainfall data and count rainy days
rainfall = [12.3, 0.0, 5.6, 8.9, 15.4]  # mm

rainy_days = 0
for r in rainfall:
    if r > 0:          # if rainfall is greater than 0 mm, it's a rainy day
        rainy_days += 1

print("Total rainy days:", rainy_days)

Total rainy days: 4

## **Functions**

When coding, we often repeat the same steps.
Instead of rewriting those lines every time, we can put them into a **function**.  

A **function** is like a reusable *recipe* --> you give it some inputs, it processes them, and it gives you an output.  

This helps make your code cleaner, shorter, and easier to maintain.

**Common Terms**

- **Function** → A block of code that performs a specific task. Defined using `def`.  
- **Parameters** → Placeholders in the function definition (e.g., `name`, `rain`).  
- **Arguments** → The actual values you pass when calling the function (e.g., `John`, `1.2`).  
- **Return** → The result a function sends back.  
   - It could be a single number (e.g., irrigation need for the day),  
   - a string (e.g., `"Crop requires water today"`),  
   - or even a DataFrame / dictionary (e.g., daily irrigation schedule).  

You can think of `return` as the "answer" the function gives back once it finishes its work.

In [17]:
# Function that RETURNS NOTHING (just does an action)
def say_hello():
    """
    Prints a message only.
    No return value.
    """
    print("Hello, welcome to the workshop!")

In [18]:
# Call it
say_hello()

Hello, welcome to the workshop!

In [19]:

# Function that RETURNS SOMETHING (we can reuse the result)
def add_two_numbers(a, b):
    """
    Adds two numbers together.
    Parameters:
        a (int or float)
        b (int or float)
    Returns:
        int or float - the sum of a and b
    """
    return a + b

In [20]:
# Call it
result = add_two_numbers(5, 3)
print("The result is:", result)

The result is: 8

In [21]:
def c_to_f(celsius):
    """Convert Celsius to Fahrenheit."""
    return (celsius * 9/5) + 32

print("30°C in Fahrenheit:", c_to_f(30))

30°C in Fahrenheit: 86.0

In [22]:
def irrigation_need(etc, rain, efficiency=0.8):
    """
    Calculate daily irrigation need.
    etc: crop evapotranspiration (mm/day)
    rain: rainfall (mm/day)
    efficiency: irrigation system efficiency (default=0.8)
    """
    net = max(etc - rain, 0)      # Net irrigation = ETc – rain
    gross = net / efficiency      # Gross irrigation accounts for losses
    return gross

print(irrigation_need(5.0, 2.0))   # Example: ETc=5, Rain=2

3.75

## **Pandas**
- **Pandas** is a Python library for working with tabular data.  
- Its main object is the **DataFrame**, which looks like an Excel sheet: rows and columns with labels.  
- A **Series** is just a single column (1D), while a **DataFrame** can hold many columns (2D).  


Let’s create a DataFrame manually and look at how it behaves.

In [23]:
import pandas as pd

# Create a dataset using a dictionary
data = {
    "Day": [1, 2, 3, 4, 5],
    "Rainfall_mm": [12.3, 0.0, 5.6, 8.9, 15.4],
    "Temp_C": [30.2, 31.5, 29.8, 33.1, 32.0]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Observe
df.head()     # first rows

   Day  Rainfall_mm  Temp_C
0    1         12.3    30.2
1    2          0.0    31.5
2    3          5.6    29.8
3    4          8.9    33.1
4    5         15.4    32.0

In [24]:
df.dtypes     # data types

Day              int64
Rainfall_mm    float64
Temp_C         float64
dtype: object

In [25]:
df.columns    # column headers

Index(['Day', 'Rainfall_mm', 'Temp_C'], dtype='object')

In [26]:
df.shape      # rows x columns

(5, 3)

When working with **pandas DataFrames**, you can select rows and columns in two main ways:  

- `.loc` → label-based (uses names/index labels)  
- `.iloc` → integer-based (uses row/column positions)  

The order is always [row, column].

*  The first position picks the row
*  The second position picks the column.

***Indexing*** starts at zero (0)

In [27]:
# Using .loc -> label-based indexing
print(df.loc[2])    # row where index = 2 (third row)

Day             3.0
Rainfall_mm     5.6
Temp_C         29.8
Name: 2, dtype: float64

In [28]:
print("\nSpecific cell (Day=4, Temp_C):")
print(df.loc[3, "Temp_C"])

Specific cell (Day=4, Temp_C):
33.1

In [29]:
# Using .iloc -> integer position indexing
print("\nThird row (position 2):")
print(df.iloc[2])

Third row (position 2):
Day             3.0
Rainfall_mm     5.6
Temp_C         29.8
Name: 2, dtype: float64

In [30]:
print("\nSpecific cell (row 3, col 3):")
print(df.iloc[2, 2])

Specific cell (row 3, col 3):
29.8

### **Exercise: Variables, Printing & Arithmetic**  

1. Create three variables:  
   - `country` → assign your country name  
   - `temp_c` → assign today’s temperature in Celsius  
   - `is_hot` → assign True/False depending on the temperature  

2. Print them out in one line using the **f-string method**.  

3. Using `a = 15` and `b = 4`, compute and print:  
   - Addition (+)  
   - Subtraction (-)  
   - Multiplication (*)  
   - Division (/)  
   - Floor division (//)  
   - Modulus (%)  
   - Exponentiation (**)  

Try it yourself before expanding the solution below!

In [31]:
# use this cell for your excercise

In [33]:
#@title Solution (click to expand)

# --- Variables and Printing ---
country = "Nigeria"
temp_c = 30.5
is_hot = True

print(f"Country: {country}, Temperature: {temp_c} °C, Hot? {is_hot}")

# --- Arithmetic Operations ---
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)     # float division
print("a // b =", a // b)   # floor division
print("a % b =", a % b)     # remainder
print("a ** b =", a ** b)   # power

Country: Nigeria, Temperature: 30.5 °C, Hot? True
a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

**SEE YOU AT THE WORKSHOP!**

# **Workshop Agenda & Timeline**

- **9:00 – 9:15 am** · Workshop Introduction  
- **9:15 – 9:40 am** · Part A: Data Handling Module Exercise  
- **9:40 – 10:30 am** · Part B: Hydrology & Irrigation Modeling Module  
  - **9:40 – 9:55 am** · Reference Evapotranspiration (ETo)  
  - **9:55 – 10:00 am** · Exercise  
  - **10:00 – 10:10 am** · Soil Water Analysis  
  - **10:10 – 10:15 am** · Exercise  
  - **10:15 – 10:30 am** · Scenario Lab & Exercise  
- **10:30 – 10:40 am** · Break  
- **10:40 – 11:00 am** · Data Sources and Comparison  
- **11:00 am – 12:00 pm** · Discussion

<p float="left">
  <img src="https://www.7pasae.ma/images/LogoAnafide.png" width="250" />
  <img src="https://www.7pasae.ma/images/partners/MAPMDREF.png" width="200" />
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp-2efmwa0bvazHzV-2XdlHlGrdPb4bJMNEA&s" width="200" />
  <img src="https://dnn9n7kh1.blob.core.windows.net/portals/4/logo_smallest.png?sv=2017-04-17&sr=b&si=DNNFileManagerPolicy&sig=cwCh1KVHMp1GZuIw5drhIWFbyzJTStiJl6aRxslgGNM%3D" width="300" />
</p>